a {
  all: unset;
  cursor: pointer;
}

.active button,
.active li p,
a.active,
.active span,
.active svg {
  color: #f9aa33 !important;
  font-weight: bold;
}

.espaciobar {
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  /* background-color: rgb(143, 31, 31); */
}

/* Login */

.login {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  z-index: 9999;
}

.border-3aad {
  border: 1px solid purple;
}

.border-4aad {
  border: 1px solid orangered;
}

.border-5aad {
  border: 1px solid green;
}

.border-6aad {
  border: 1px solid brown;
}

.border-7aad {
  border: 1px solid blue;
}

.border-7dgp {
  border: 1px solid palevioletred;
}

.border-8aad {
  border: 1px solid yellowgreen;
}

.border-9aad {
  border: 1px solid black;
}

summary {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

summary:hover {
  background-color: #eaeaea;
}

.slide {
  min-width: 100%;
  max-height: 70vh;
  background-blend-mode: overlay;
  /* background-color: red; */
  background-attachment: fixed;
  /* overflow: hidden; */
}

.slide img {
  max-width: 100%;
}

.slide::before {
  content: "Aqui quiero poner una galeria de trabajos de alumnos... y posteriormente una galeria general de trabajos.";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.616) 0%, transparent 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding: 40px 80px;
  text-align: center;
  font-size: 20px;
}

.textarea {
  width: 99%;
  height: 250px;
  min-height: 200px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
  font-size: 16px;
  padding: 20px;
}

.fixedButton {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.buttonClose {
  display: flex;
  justify-content: flex-end;
}

.buttonClose:first-child {
  position: absolute;
  right: 20px;
  top: 20px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Niveles */

.barLevel {
  height: 30px;
  width: 100%;
  padding: 6px;
  background-color: #eaeaea;
  border-radius: 15px;
  position: relative;
}

.barLevelCount {
  border-radius: 15px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden !important;
  position: relative;
  z-index: 0;
}

.leveltext {
  position: absolute;
  width: 100%;
  top: 3px;
  left: 0;
  font-weight: bold;
  text-align: center;
  text-shadow:
        -1px -1px 0 #eaeaea,
         1px -1px 0 #eaeaea,
        -1px  1px 0 #eaeaea,
         1px  1px 0 #eaeaea;

}

/* Ver Misiones Completadas */

.viewCompletMisions {
  background-color: #f4f4f4;
  color: black;
  border-radius: 2px;
  padding: 10px;
}


.misionSelectF {
  /* perspective: 3000px; */
  transition: all 0.3s ease;
}
.misionSelectF:hover {
  cursor: pointer;
  box-shadow: 0 0 20px gray !important;
  border-width: 2px !important;
}


.checkedMisionIcion {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 140px;
  transform: translateX(-70px) translateY(-70px);
  filter: opacity(.5);
}

.tipo1{
  background-color: #f9aa33;
  height: 215px;
  width: 215px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.tipo1::after{
  content: '';
  border: solid 5px #f9aa33;
  height: 180px;
  width: 180px;
  background-color: black;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
  animation: rotatetipo1 1s infinite ease;
}
.tipo1::before{
  content: '';
  border: solid 5px #f9aa33;
  height: 180px;
  width: 180px;
  background-color: black;
  position: absolute;
  transform: rotate(0deg);
  z-index: 1;
  animation: rotatetipo1b 1s infinite ease;
}

@keyframes rotatetipo1 {
  0%{transform: rotate(45deg);}
  0%{transform: rotate(-45deg);}
}
@keyframes rotatetipo1b {
  0%{transform: rotate(0deg);}
  0%{transform: rotate(90deg);}
}

.tipo2{
  position: relative;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  box-shadow:
    0 0 20px color-mix(in srgb, #f9aa33 60%, transparent),
    inset 0 0 10px rgba(0,0,0,.6);
}

.tipo2::before{
  content:"";
  position:absolute;
  inset:-1px;
  border-radius:50%;
  border: 5px solid black;
  filter: blur(.3px);
}

/* EL ORBITADOR */
.tipo2::after{
  content:"";
  position:absolute;

  /* lo anclas al centro */
  left: 50%;
  top: 50%;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f9aa33;

  /* “radio” de la órbita */
  --r: 105px; /* ajusta este valor */

  /* órbita: centro -> girar -> empujar hacia afuera */
  transform: translate(-50%, -50%) rotate(0deg) translateX(var(--r));

  animation: orbit 1.6s linear infinite;
  z-index: 6; /* arriba del marco */
}

@keyframes orbit{
  to{
    transform: translate(-50%, -50%) rotate(360deg) translateX(var(--r));
  }
}

.tipo3{
  position: relative;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

/* Anillo 1 (rápido) */
.tipo3::before{
  content:"";
  position:absolute;
  inset:-5px;                 /* tamaño del anillo */
  border-radius:50%;
  border: 10px solid var(--color, black);
  opacity: .6;
  animation: pulseRing 2s ease-in-out infinite;
}

/* Anillo 2 (lento) */
.tipo3::after{
  content:"";
  position:absolute;
  inset:-5px;                /* un poco más afuera */
  border-radius:50%;
  border: 5px solid var(--color, #f9aa33);
  opacity: .35;
  animation: pulseRing 1s ease-in-out infinite;
}

/* Pulso: más chico y más grande */
@keyframes pulseRing{
  0%   { transform: scale(0.92); opacity: .25; }
  50%  { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.92); opacity: .25; }
}





.imagenPerfil {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: #eaeaea;
  position: relative;
  z-index: 5;
}


.adorno {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  /* background-color: red; */
  z-index: 0;
  border-radius: 0 0 15px 15px;
  /* border: solid black 2px; */
  overflow: hidden;

}

.dataBotomUser {
  position: fixed;
  bottom: 55px;
  left: 0;
  width: 100%;
  /* height: 30px; */
  /* background-color: red; */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  /* align-items:  center; */
}

.dataLevel {
  background-color: #fff;
  width: fit-content;
  padding: 5px 20px;
  text-align: right;
  box-shadow: 0 0 5px black;
  border-radius: 15px 0 0 0 ;
}
.dataPuntos {
  background-color: #fff;
  padding: 5px 20px;
  width: fit-content;
  box-shadow: 0 0 5px black;
  border-radius: 0 15px 0 0 ;
}

.fondoPreview {
  height: 120px;
  width: 100%;
  z-index: 0;
  border-radius:15px 15px;
  overflow: hidden;
  position: relative;
  /* position: absolute; */
}